*{
    margin: 0px;
    padding: 0px ;
    }
    
    .cardBtn{
        background-color: #074f55 ;
    }
    .body{
        background-color: #d6e0e1 ;
    }
    .colorNav{
        background-color: #3a6a6f ;
    
    }